.infoblockindex {
    padding: 28px 2px;
}
.adv_infoblock_inner {
    display: flex;
    gap: 113px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}
.adv_infoblock_item {
    width: 405px;
    height: 224px;
}
.adv_infoblock_rectangle {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #F0E6DD;
    margin: 0 auto;
}
.adv_infoblock_img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.adv_infoblock_title {
    color: #464646;
    text-align: center;
    font-family: Pomidorko;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 31px;
}
.adv_infoblock_text {
    margin-top: 8px;
    color: #6B6B6B;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
}
