.myOrders{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order{
    padding: 20px;
    border: 1px solid #919191;
    border-radius: 10px;


}

.orderInfo{
    display: flex;
    justify-content: flex-start;

    gap: 20px;
    margin-bottom: 15px;



}
.orderId{
    color: #464646;
    font-size: 20px;
    font-weight: 400;

    cursor: pointer;
}

.orderStatus{
    color: #464646;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;


}

.orderDate{
    color: #464646;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.orderInner{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product{
    display: flex;
    justify-content: flex-start;
    gap: 60px;
}

.productImage{
    width: 112px;
    height: 155px;
}

.productInfo{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.productTitle{

    color: #464646;
    font-family: Pomidorko, sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.productQuantity{
    border-radius: 300px;
    background: #AD6A75;

    font-size: 18px;
    font-weight: 400;

    width: 55px;
    height: 39px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.productPrice{
    color: #6B6B6B;
    font-family: Pomidorko, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.productVendorCode{
    color: #6B6B6B;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;

}


@media (max-width: 680px) {

    .productVendorCode{


    }

}