.upheader {
    padding-top: 10px;
}

.upheader_inner {
    display: flex;
    align-items: center;
    height: 132px;
}

.upheader_slider {
    display: flex;
    margin: 13px 72px 0 86px;
}

.upheader_slider_inner {
    width: 468px;
    height: 122px;
    overflow: hidden;
}

.upheader_slider_previous {
    background-color: white;
    border: 0;
    cursor: pointer;
}

.upheader_slider_next {
    background-color: white;
    border: 0;
    cursor: pointer;
}

.upheader_slider_line {
    display: flex;
    margin: 0 auto;
    height: 122px;
    width: 624px;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.upheader_slider_line_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
    width: 156px;
}

.upheader_slider_line_item_circle {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background: #FEE2CC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upheader_slider_line_item_text {
    font-family: 'Pomidorko';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #464646;
    margin-top: 4px;
}

.upheader_contacts {
    margin: 13px 115px 0 0;
}

.upheader_contacts_line1 {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    color: #464646;
}

.upheader_contacts_line2 {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    color: #464646;
    margin-top: 16px;
}

.upheader_span {
    margin-left: 26px;
}

.upheader_buttons {
    display: flex;
}

.upheader_buttons_basket {
    border-radius: 50%;
    width: 62px;
    height: 62px;
    background: #AD6A75;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    transition: .1s outline ;

    cursor: pointer;
    border: 0;

}

.upheader_buttons_login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    background: #AD6A75;
    border-radius: 300px;
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-decoration: none;

    width: 179px;
    cursor: pointer;
    transition: .1s outline ;
}

.upheader_buttons_basket:hover,
.upheader_buttons_login:hover {
    outline: 2px solid #000000;
    cursor: pointer;

}

@media (max-width: 1690px) {
    .upheader{

    }
    .upheader_inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 132px;
    }
    .upheader_slider {
        display: flex;
        margin: 13px 42px 0 46px;
    }

    .upheader_contacts {
        margin: 13px 45px 0 0;
    }

    .upheader_contacts_line1 {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 18px;
        color: #464646;
    }

    .upheader_contacts_line2 {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 18px;
        color: #464646;
        margin-top: 16px;
    }
}

@media (max-width: 1580px) {
    .upheader{

    }
    .upheader_inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 132px;
    }
    .upheader_slider {
        display: flex;
        margin: 13px 42px 0 46px;
    }

    .upheader_contacts {
        margin: 13px 85px 0 0;
    }
}

@media (max-width: 1530px) {
    .upheader{

    }
    .upheader_inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 132px;
        gap: 20px;
    }
    .upheader_slider {
        display: flex;
        margin: 13px 42px 0 46px;
    }

    .upheader_contacts {
        display: none;
    }

}



@media (max-width: 1420px) {
    .upheader{

    }
    .upheader_inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 132px;
        gap: 20px;
    }
    .upheader_slider {
        display: flex;
        margin: 13px 32px 0 36px;
    }

}
@media (max-width: 1275px) {
    .upheader{

    }
    .upheader_inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 132px;
        gap: 20px;
    }
    .upheader_slider {
        display: flex;
        margin: 13px 32px 0 36px;
    }

    .upheader_slider_inner {
        width: 304px;
        height: 122px;
        overflow: hidden;
    }
}

@media (max-width: 1100px) {
    .upheader{

    }
    .upheader_inner {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 132px;
        gap: 20px;
    }
    .upheader_slider {
        display: none;
    }

    .upheader_slider_inner {
        width: 304px;
        height: 122px;
        overflow: hidden;
    }
}
@media (max-width: 650px) {
    .upheader{

    }
    .upheader_inner {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 132px;
        gap: 20px;
    }

    .upheader_logo{
        width: 45%;
        height: auto;
    }

    .upheader_buttons_login{
        width: 62px;
        height: 62px;
    }

    .upheader_buttons_username{
        display: none;
    }
    .upheader_slider {
        display: none;
    }

    .upheader_slider_inner {
        width: 304px;
        height: 122px;
        overflow: hidden;
    }
}

